{% extends "layout.html" %}
{% block content %}
<div class="jumbotron"><h1>Search through the Population Data for
2013</h1>
	<div>
		<form id="population-form" action="population" method="POST">
			<input type="text" name="initial" />Filter by State Initial
			<br />
			<input type="text" name="popgreater"/>Filter by Population Size Greater than or Equal to input
			<br/>
			<input type="text" name="poplesser"/>Filter by Population Size Smaller than or Equal to input
			<br />
			<input type="submit" value="Output Filtered File"/>
		</form>

	</div>

</div>
{% endblock %}