{% extends "layout.html" %}
{% block content %}
<div class="jumbotron"><h1>Search through the Presidential Documents Signed by Barack Obama</h1>
	<div>
		<form id="orders-form" action="orders" method="POST">
			<input type="text" name="title_cont" />Search by Keyword: All Documents that Contain the Keyword
			<br />

			<select name="category">
				<option value="Labor">Labor</option>
				<option value="Women">Women</option>
				<option value="Justice">Justice</option>
				<option value="Federal">Federal</option>
				<option value="Oil">Oil</option>
				<option value="Health"</option>


			</select>
			
			<input type="submit" value="Output Filtered File"/>
		</form>

	</div>

</div>
{% endblock %}