{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <h2>
            Whoops! Error!</h2>
        
        <div class="col-md-12">
            <div class="jumbotron">
                <p>Something went wrong...</p>
                <br>
                <p>You need to input exactly <b>ONE</b> search parameter</p>
                <br>
                <p>or the search you specified does not match anything in the data </p>
                <a href="/" class="btn btn-lg btn-danger">Go Back?</a>           
            </div>
           
        </div>
    </div>
</div>

{% endblock %}