<!DOCTYPE html>
<html>
  <head>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <title>DataMining</title>    
  </head>
  <body>

    <nav class="navbar navbar-inverse" role="navigation">
      <ul>
        <li><h2 style="color:white;"><a href="/" >Home</a></h2></li>
      </ul>
    </nav>
   
    <header>
      <div class="container">
        <h1 class="logo">DataMiner!</h1>
    </header> 
     
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
     
  </body>
</html>
